@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    overflow: hidden;  /* Prevent scrolling */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

h1 {
    @apply text-xl font-semibold
}

h2 {
    @apply text-lg font-semibold
}

h3 {
    @apply text-base font-semibold
}

ul {
    @apply items-start
}